<!DOCTYPE html>
{% load static %}
<html>
    <head>
	<!-- Loading Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">


    <!-- Loading Flat UI -->
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">


    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/hint.css' %}" rel="stylesheet">
    <link href="{% static 'css/drag.css' %}" rel="stylesheet">
    <link href="{% static 'autocomplete/autocomplete-0.3.0.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <title>The IT Crowd</title>
    
    </head>

    <body>
    	<br>
 	<div class="container">
 		<div class="demo-row">
		 	<div class="row demo-row">
		          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
		            <div class="navbar-header">
		              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
		                <span class="sr-only">Toggle navigation</span>
		              </button>
		            </div>
		            <div class="collapse navbar-collapse" id="navbar-collapse-01">
		              <ul class="nav navbar-nav navbar-left">           
		              	{% if not user.is_authenticated %}
		              	<li><a href="#">The IT Crowd (beta)</a></li>
		                
		                {% else %}
                            
		                <li><a href="/main"><span class="fui-checkbox-checked"></span> Post It</a></li>
		                <li><a href="/main/tindakan"><span class="fui-new"></span> Tindakan</a></li>
		                <li><a href="/main/perangkat"><span class="fui-gear"></span> Perangkat</a></li>
		         
			               <ul class="nav navbar-nav navbar-left">
			                 <li class="dropdown">
			                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-gear"></span> Pustaka Data <b class="caret"></b></a>
			                  <span class="dropdown-arrow"></span>
			                  <ul class="dropdown-menu">
			                    <li><a href="/admin/" target="_blank">Orang</a></li>
			                    <li><a href="/admin/" target="_blank">Lokasi</a></li>
			                    <li><a href="/admin/" target="_blank">Kategori</a></li>
			                  </ul>
			                </li>           
			               </ul>
		                {% endif %}
		               </ul>
		               

		               {% if user.is_authenticated %}
			               <ul class="nav navbar-nav navbar-right">
			                 <li class="dropdown">
			                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-user"></span> Halo, {{ current_user }} <b class="caret"></b></a>
			                  <span class="dropdown-arrow"></span>
			                  <ul class="dropdown-menu">
			                    <li><a href="/admin/password_change" target="_blank">Ganti password</a></li>
			                    <li><a href="/admin/" target="_blank">Django Administration</a></li>
			                    <li><a href="#">Bantuan</a></li>
			                    <li class="divider"></li>
			                    <li><a href="/main/logout">Logout</a></li>
			                  </ul>
			                </li>           
			               </ul>
			            {% endif %}
		            </div><!-- /.navbar-collapse -->
		          </nav><!-- /navbar -->
 		</div>
        <div>
        	{% block button_block %}{% endblock %}
            {% block body_block %}{% endblock %}
        </div>
    </div>
    <div class="container">
    	<hr>

		<div class="pull-right">
		Powered by <img src="{% static 'images/python-logo.gif' %}" width="150px">and crafted with <span class="fui-heart"></span>
		</div>
    </div>

    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'js/flatui-checkbox.js' %}"></script>
    <script src="{% static 'js/flatui-radio.js' %}"></script>
    <script src="{% static 'js/jquery.tagsinput.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/kanban.js' %}"></script>
	<script>
    
	$(document).ready(function(){
	 $(function() {
		$( "#datepicker" ).datepicker({ dateFormat : "dd/mm/yy"});
       

		$( "#datepicker-ticket" ).datepicker({ dateFormat : "dd/mm/yy"});
        });
       

    });

	</script>
	

    </body>
</html>
