<!DOCTYPE html>
{% load static %}
<html>
    <head>
	<!-- Loading Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">


    <!-- Loading Flat UI -->
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">


    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/hint.css' %}" rel="stylesheet">
    <link href="{% static 'css/drag.css' %}" rel="stylesheet">
    <link href="{% static 'autocomplete/autocomplete-0.3.0.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <title>The IT Crowd</title>
    
    </head>

    <body>
    	<br>
 	<div class="container">
 		<div class="demo-row">
		 	<div class="row demo-row">
		          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
		            <div class="navbar-header">
		              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
		                <span class="sr-only">Toggle navigation</span>
		              </button>
		            </div>
		            <div class="collapse navbar-collapse" id="navbar-collapse-01">
		              <ul class="nav navbar-nav navbar-left">           
		              	{% if not user.is_authenticated %}
		              	<li><a href="#">The IT Crowd</a></li>
		                
		                {% else %}
                            
		                <li><a href="/main"><span class="fui-checkbox-checked"></span> Post It</a></li>
		                <li><a href="/main/tindakan"><span class="fui-new"></span> Tindakan</a></li>
		                <li><a href="/main/perangkat"><span class="fui-gear"></span> Perangkat</a></li>
		                <li><a href="#"><span class="fui-lock"></span> Akun</a></li>
		         
		                {% endif %}
		               </ul>
		               

		               {% if user.is_authenticated %}
			               <ul class="nav navbar-nav navbar-right">
			                 <li class="dropdown">
			                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-user"></span> Halo, {{ current_user }} <b class="caret"></b></a>
			                  <span class="dropdown-arrow"></span>
			                  <ul class="dropdown-menu">
			                    <li><a href="/admin/password_change" target="_blank">Ganti password</a></li>
			                    <li><a href="/admin/" target="_blank">Django Administration</a></li>
			                    <li><a href="#">Bantuan</a></li>
			                    <li class="divider"></li>
			                    <li><a href="/main/logout">Logout</a></li>
			                  </ul>
			                </li>           
			               </ul>
			            {% endif %}
		            </div><!-- /.navbar-collapse -->
		          </nav><!-- /navbar -->
 		</div>
        <div>
        	{% block button_block %}{% endblock %}
            {% block body_block %}{% endblock %}
        </div>
    </div>
    <div class="container">
    	<hr>

		<div class="pull-right">
		Powered by <img src="{% static 'images/python-logo.gif' %}" width="150px">and crafted with <span class="fui-heart"></span>
		</div>
    </div>

    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'js/flatui-checkbox.js' %}"></script>
    <script src="{% static 'js/flatui-radio.js' %}"></script>
    <script src="{% static 'js/jquery.tagsinput.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    
	<script>
    


	$(document).ready(function(){
	 $(function() {
		$( "#datepicker" ).datepicker({ dateFormat : "dd/mm/yy"});
	        

        });
    });

// Token untuk XSS

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
             }
        }
        return cookieValue;
    }

    $('.dragbox').hover(
        function(){
            var idnyadragbox = $(this).attr('id');
            $('eye_' + idnyadragbox).show();
        }
    );
    
    // inisialisasi koordinat
            
            // kotaktodo
            todo_c_position=$("#todo").position();
            todo_c_top=todo_c_position.top;
            todo_c_left=todo_c_position.left;
            todo_c = "(" + todo_c_top + "." + todo_c_left + ")";
            // kotakdoing
            doing_c_position=$("#doing").position();
            doing_c_top=doing_c_position.top;
            doing_c_left=doing_c_position.left;
            doing_c = "(" + doing_c_top + "." + doing_c_left + ")";
            // kotakdone
            done_c_position=$("#done").position();
            done_c_top=done_c_position.top;
            done_c_left=done_c_position.left;
            done_c = "(" + done_c_top + "." + done_c_left + ")";
            
            
		    lebar = $('.dropbox').width();
			lebardragbox = (90/100)*lebar;
			margindropbox = (lebar-lebardragbox)/2;
    
            // variable utama
            var penjarak = 60;
            var todo_count = 0;
            var doing_count = 0;
            var done_count = 0;
            var todo_c_tinggi = todo_c_top + penjarak; 
            var doing_c_tinggi = doing_c_top + penjarak; 
            var done_c_tinggi = done_c_top + penjarak; 

        $(".dragbox").fadeIn('slow');
        lebar = $('.dropbox').width();
		lebardragbox = (100/100)*lebar;
		$('.dragbox').width(lebardragbox);
        
    
        var kanban_obj;
        $.ajax({url:"/main/gtd_get_json/", async:false, success:function(result){
                kanban_obj = result;
        }});

                // beri index key
                var jumlah_kartu = 0
                var index=[];
                for (var x in kanban_obj){
                     index.push(x);
                     jumlah_kartu += 1;
                }
                
                // urutin
                index.sort(function (a,b) {
                    return a == b ? 0 : ( a > b ? 1 : -1);
                });
       

        function urutkan_kartu(){
            // Urutin kartu dalam todo
            for (y in kanban_obj){
                if (kanban_obj[y].fields.slot == 'todo'){
                    idnya = kanban_obj[y].fields.noid_tin;
                    var tingginya = $('#' + idnya).height();
                    $('#' + idnya).animate({
                        top : todo_c_tinggi,
                        left : todo_c_left + margindropbox
                    });
                todo_c_tinggi = todo_c_tinggi + tingginya +20;
                todo_count = todo_count +1;
                $("#todo_coordinate").text(todo_count);  
                }
                if ((todo_c_tinggi - todo_c_top - 5)<100){
                    $("#todo").height(300);
                } else {
                    $("#todo").height(todo_c_tinggi - todo_c_top - 5);
                }
            }
            // Urutin kartu dalam doing
            for (y in kanban_obj){
                if (kanban_obj[y].fields.slot == 'doing'){
                    idnya = kanban_obj[y].fields.noid_tin;
                    var tingginya = $('#' + idnya).height();
                    $('#' + idnya).animate({
                        top : doing_c_tinggi,
                        left : doing_c_left + margindropbox
                    });
                doing_c_tinggi = doing_c_tinggi + tingginya +20;
                doing_count = doing_count + 1;
                $("#doing_coordinate").text(doing_count);  
                }
                if ((doing_c_tinggi - doing_c_top - 5)<100){
                    $("#doing").height(300);
                } else {
                    $("#doing").height(doing_c_tinggi - doing_c_top - 5);
                }
            }
            // Urutin kartu dalam done
            for (y in kanban_obj){
                if (kanban_obj[y].fields.slot == 'done'){
                    idnya = kanban_obj[y].fields.noid_tin;
                    var tingginya = $('#' + idnya).height();
                    $('#' + idnya).animate({
                        top : done_c_tinggi,
                        left : done_c_left + margindropbox
                    });
                done_c_tinggi = done_c_tinggi + tingginya +20;
                done_count = done_count + 1;
                $("#done_coordinate").text(done_count);  
                }
                if ((done_c_tinggi - done_c_top - 5)<100){
                    $("#done").height(300);
                } else {
                    $("#done").height(done_c_tinggi - done_c_top - 5);
                }
            }
        }

        urutkan_kartu();
//    }); // document ready end

    function tersimpan(){
            $('#testingtext').text('Tersimpan...');
        $('#testingtext').slideDown(function(){
            setTimeout(function(){
                $('#testingtext').fadeOut();},1000)

            });
        }
	
    $(".dragbox").draggable({
           
            // fungsi yang berjalan ketika objek mulai diangkat

            start:function(evt,ui){ 
                $(this).classname = 'draggable flying'; 
                var searchresult;
                var searchkey = $(this).attr('id');
                for(var i = 0; i < jumlah_kartu; i += 1){
                    if( kanban_obj[index[i]].fields.noid_tin == searchkey){
                    kanban_obj[index[i]].fields.slot += '-flying';
                    searchresult = kanban_obj[index[i]].fields;
                    }
                }

                // pengurangan koordinat tinggi setiap objek diangkat
                if(searchresult.slot == 'todo-flying'){
                    todo_count = todo_count - 1;
                    todo_c_tinggi = todo_c_top + penjarak;
                    $("#todo_coordinate").text(todo_count);  
            for (y in kanban_obj){
                if (kanban_obj[y].fields.slot == 'todo'){
                    idnya = kanban_obj[y].fields.noid_tin;
                    var tingginya = $('#' + idnya).height();
                    $('#' + idnya).animate({
                        top : todo_c_tinggi,
                        left : todo_c_left + margindropbox
                    });
                todo_c_tinggi = todo_c_tinggi + tingginya +20;
                $("#todo_coordinate").text(todo_count);  
                $("#todo").height(todo_c_tinggi - todo_c_top - 5);
                }
            }
                } 
                if(searchresult.slot == 'doing-flying'){
                    doing_count = doing_count - 1;
                    doing_c_tinggi = doing_c_top + penjarak;
                    $("#doing_coordinate").text(doing_count);  
            for (y in kanban_obj){
                if (kanban_obj[y].fields.slot == 'doing'){
                    idnya = kanban_obj[y].fields.noid_tin;
                    var tingginya = $('#' + idnya).height();
                    $('#' + idnya).animate({
                        top : doing_c_tinggi,
                        left : doing_c_left + margindropbox
                    });
                doing_c_tinggi = doing_c_tinggi + tingginya +20;
                $("#doing_coordinate").text(doing_count);  
                $("#doing").height(doing_c_tinggi - doing_c_top - 5);
                }
            }
                } 
                if(searchresult.slot == 'done-flying'){
                    done_count = done_count - 1;
                    done_c_tinggi = done_c_top + penjarak;
                    $("#done_coordinate").text(done_count);  
            for (y in kanban_obj){
                if (kanban_obj[y].fields.slot == 'done'){
                    idnya = kanban_obj[y].fields.noid_tin;
                    var tingginya = $('#' + idnya).height();
                    $('#' + idnya).animate({
                        top : done_c_tinggi,
                        left : done_c_left + margindropbox
                    });
                done_c_tinggi = done_c_tinggi + tingginya +20;
                $("#done_coordinate").text(done_count);  
                $("#done").height(done_c_tinggi - done_c_top - 5);
                }
            }
               
                } 
                
                },       
                });

$(".dropbox").droppable({
		 tolerance: 'intersect',
		    drop: function(event, ui) {
		    	lebar = $('.dropbox').width();
				lebardragbox = (90/100)*lebar;
				margindropbox = (lebar-lebardragbox)/2;


		        var drop_p = $(this).offset();
		        var drag_p = ui.draggable.offset();
		        var left_end = drop_p.left - drag_p.left + margindropbox;
		        var top_end = drop_p.top - drag_p.top + margindropbox;

                if(ui.draggable.position().top > todo_c_top && (ui.draggable.position().left+(ui.draggable.width()/2)) > todo_c_left &&  (ui.draggable.position().left+(ui.draggable.width()/2)) < doing_c_left ){
                    tingginya = ui.draggable.height();
		            ui.draggable.animate({
            	        top: todo_c_tinggi,
		                left: drop_p.left+(margindropbox/2)
                    });                 
                    // cari objek untuk penetapan variabel slot yang baru
                    var searchresult;
                    var searchkey = ui.draggable.attr('id');
                    for(var i = 0; i < jumlah_kartu; i += 1){
                        kanban_obj[index[i]];
                        if(kanban_obj[index[i]].fields.noid_tin == searchkey){
                            kanban_obj[index[i]].fields.slot = 'todo';
                        }
                    }
                    todo_c_tinggi = todo_c_tinggi + tingginya +20;
                    todo_count = todo_count +1;
                    $("#todo_coordinate").text(todo_count);  
                    $("#todo").height(todo_c_tinggi - todo_c_top - 5);
                    // Ajax update 
                    $.ajax({
                        type: "GET",
                        url : "/main/gtd_post_kanban_update/?idnya=" + searchkey + "&slot=todo",
                        success : function(){
                            tersimpan();
                        }
                    });
                    $("#eye_" + searchkey).html("<span class='fui-gear'></span>");
                    } 

                if(ui.draggable.position().top > doing_c_top && (ui.draggable.position().left+(ui.draggable.width()/2)) > doing_c_left &&  (ui.draggable.position().left+(ui.draggable.width()/2)) < done_c_left ){
                    tingginya = ui.draggable.height();
		            ui.draggable.animate({
            	        top: doing_c_tinggi,
		                left: drop_p.left+(margindropbox/2)
                    });                 
                    // cari objek untuk penetapan variabel slot yang baru
                    var searchresult;
                    var searchkey = ui.draggable.attr('id');
                    for(var i = 0; i < jumlah_kartu; i += 1){
                        kanban_obj[index[i]];
                        if(kanban_obj[index[i]].fields.noid_tin == searchkey){
                            kanban_obj[index[i]].fields.slot = 'doing';
                        }
                    }
                    doing_c_tinggi = doing_c_tinggi + tingginya +20;
                    doing_count = doing_count + 1;
                    $("#doing_coordinate").text(doing_count);  
                    $("#doing").height(doing_c_tinggi - doing_c_top - 5);
                    // Ajax update 
                    $.ajax({
                        type: "GET",
                        url : "/main/gtd_post_kanban_update/?idnya=" + searchkey + "&slot=doing",
                        success : function(){
                            tersimpan();
                        }
                        });
                    
                    $("#eye_" + searchkey).html("<span class='fui-gear'></span>");
                    } 

                if(ui.draggable.position().top > done_c_top && (ui.draggable.position().left+(ui.draggable.width()/2)) > done_c_left){
                    tingginya = ui.draggable.height();
		            ui.draggable.animate({
            	        top: done_c_tinggi,
		                left: drop_p.left+(margindropbox/2)
                    });                 
                    // cari objek untuk penetapan variabel slot yang baru
                    var searchresult;
                    var searchkey = ui.draggable.attr('id');
                    for(var i = 0; i < jumlah_kartu; i += 1){
                        kanban_obj[index[i]];
                        if(kanban_obj[index[i]].fields.noid_tin == searchkey){
                            kanban_obj[index[i]].fields.slot = 'done';
                        }
                    }
                    done_c_tinggi = done_c_tinggi + tingginya +20;
                    done_count = done_count + 1;
                    $("#done_coordinate").text(done_count);  
                    $("#done").height(done_c_tinggi - done_c_top - 5);
                    // Ajax update 
                    $.ajax({
                        type: "GET",
                        url : "/main/gtd_post_kanban_update/?idnya=" + searchkey + "&slot=done",
                        success : function(){
                            tersimpan();
                        }
                    });
                    $("#eye_" + searchkey).html("<span class='fui-check'></span>");
                    
                    } 
            }  

		        
	});

	</script>
	

    </body>
</html>
