<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load static %}

<html>
 <head>
    <title>{% block title %} Tindakan {% endblock %}</title>
 
 </head>
<body>
	{% block button_block %}

	<h4 class="">Get Things Done</h4>
    <div id="testingtext"> </div> 
<div>
        <div class="dropbox" id="todo"><div class="dropbox_text"><strong>To Do : </strong><span id="todo_coordinate"></span></div></div>
        <div class="dropbox" id="doing"><div class="dropbox_text"><strong>Doing : </strong><span id="doing_coordinate"></span></div></div>
<div class="dropbox" id="done"><div class="dropbox_text"><strong>Done : </strong><span id="done_coordinate"></span></div></div>
        {% for tindakan in tindakan_list %} 
            
        <div class="dragbox" id="{{ tindakan.noid_tin }}">{{ tindakan.masalah }}</div>
        {% endfor %}

 </div>
	{% endblock %}
</body>
</html>
