<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load static %}

<html>
 <head>
        <title>{% block title %} Tindakan {% endblock %}</title>
    </head>
<body>
	{% block button_block %}
	<h4 class="pull-left">Detail perangkat</h4>
	<div class="pull-right">
			<a class="btn btn-primary" href="#perangkat_modal" data-toggle="modal">Ubah data perangkat</a>
			<a href="#" class="btn btn-primary"><img src="{% static 'images/icons/svg/clipboard.svg' %}" width="20"> Cetak</a>
				<script type="text/javascript">
						function confirm_delete() {
						  return confirm('Anda yakin ingin menghapus?');
						}
				</script>
				<a href="/main/hapus_perangkat?hapus={{ noid_hw }}" onclick="return confirm_delete()" class="btn btn-danger"><span class="fui-check-inverted"></span>  Hapus</a>
		</div><br><br><br>
	{% endblock %}
	{% block body_block %}
	<div class="row demo_row">
	<div class="pull-left" style="margin-left:50px">
	<table>
		<tr>
			<td width="150">
				Kode barang
			</td>
			<td>
				: {{ kodebrg }}
			</td>
		</tr>
		<tr>
			<td>
				Tahun pengadaan
			</td>
			<td>
				: {{ tahun }}
			</td>
		</tr>
		<tr>
			<td>
				Kategori
			</td>
			<td>
				: {{ kathw }}
			</td>
		</tr>
		
		<tr>
			<td>
				Objek/Merek
			</td>
			<td>
				: {{ merek }}
			</td>
		</tr>
		<tr>
			<td>
				Subobjek/Tipe
			</td>
			<td>
				: {{ tipe }}
			</td>
		</tr>
		<tr>
			<td>
				Lokasi
			</td>
			<td>
				: {{ lokasi }}
			</td>
		</tr>
		<tr>
			<td>
				Penanggung jawab
			</td>
			<td>
				: {{ username }}
			</td>
		</tr>
		<tr>
			<td>
				Keterangan
			</td>
			<td>
				: {{ keterangan }}
			</td>
		</tr>
	</table>
	</div>

	<!-- <div class="pull-right">
		<img src="" height="300px">
	</div> -->
</div>
	
<div class="row demo_row" style="margin-top:30px">
	<h3>Riwayat pemeliharaan</h3>
<table width="100%" class="table table-striped table-hover table-bordered">
			<thead>
			<tr>
				<td width="10%"><strong>Tanggal tiket</strong></td>
				<td width="10%"><strong>Tanggal tiket ditutup</strong></td>
				<td width="10%"><strong>Jenis tindakan</strong></td>
				<td width="40%"><strong>Tiket</strong></td>
				<td width="40%"><strong>Penyelesaian</strong></td>
				<td width="10%"><strong>Status</strong></td>
			</tr>
			</thead>
				{% for tindakan in tindakan_list %}
					<tr>
						<td>{{ tindakan.tanggal_buka }}</td>
						<td>{{ tindakan.tanggal_tutup }}</td>
						<td>{{ tindakan.jenis_tindakan }}</td>	
						<td>{{ tindakan.masalah }}</td>
						<td>{{ tindakan.penyelesaian }}</td>				
						
						<td>{{ tindakan.status }}</td>
						<td><a href="/main/tindakan_detail/?id={{ tindakan.noid_tin }}"><span class="fui-list"></span></a></td>
						<script type="text/javascript">
						function confirm_delete() {
						  return confirm('Anda yakin ingin menghapus?');
						}
						</script>
						<td><a href="/main/hapus_tindakan/?hapus={{ tindakan.noid_tin }}" onclick="return confirm_delete()"><span class="fui-cross"></span></a></td>
					</tr>
				{% endfor %}
		</table>
	</div>

<div class="modal fade" id="perangkat_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            
            <h4 class="modal-title" id="myModalLabel">Ubah data perangkat</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="perangkat_update" method="post" action="/main/perangkat_update/">
                	{% csrf_token %}
                	<div>
                		<div class="col-xs-4">
	                		<label>Kategori perangkat :
							<select name="kathw" value="" class="form-control input-x-large" width="100%">
									<option value="{{ kathw_ }}" selected>{{ kathw_ }}</option>
									<option value="---">---</option>
					            {% for kathw in kathw_list %}
					            	<option value="{{ kathw.kathw }}">{{ kathw.kathw }}</option>
					            {% endfor %}
					          </select>
					          </label>
                		</div>
                		    <div class="col-xs-4">
	                		<label>Lokasi :
							<select name="lokasi" value="" class="form-control input-x-large" width="100%">
							<option value="{{ lokasi_ }}" selected>{{ lokasi_ }}</option>
									<option value="---">---</option>
								
					            {% for lokasi in lokasi_list %}
					            	<option value="{{ lokasi.lokasi }}">{{ lokasi.lokasi }}</option>
					            {% endfor %}
					          </select>
					          </label>
                		</div>

						<div class="col-xs-4">
	                		<label>Penanggung Jawab :
							<select name="username" value="" class="form-control input-x-large" width="100%">
								<option value="{{ username_ }}" selected>{{ first_name_ }}</option>
									<option value="---">---</option>n>
					            {% for user in user_list %}
					            	<option value="{{ user.username }}">{{ user.first_name }}</option>
					            {% endfor %}
					          </select>
					          </label>
                		</div>
                		
                	</div>
                	<br><br><br><hr>
                	<div class="form-group">
                		<label class="control-label col-sm-3">Nomor inventaris</label>
                		<div class="col-sm-9">
                		<input type="text" class="form-control" name="kodebrg" placeholder="Nomor inventaris" value="{{ kodebrg }}">
                		</div>
                	</div>	
                	<div class="form-group">
                		<label class="control-label col-sm-3">Objek/Merek</label>
                		<div class="col-sm-9">
                		<input type="text" class="form-control" name="merek" placeholder="Merek" value="{{ merek }}">
                		</div>
                	</div>	
                	<div class="form-group">
                		<label class="control-label col-sm-3">Subobjek/Tipe</label>
                		<div class="col-sm-9">
                		<input type="text" class="form-control" name="tipe" placeholder="Tipe" value="{{ tipe }}">
                		</div>
                	</div>	
                	<div class="form-group">
                		<label class="control-label col-sm-3">Tahun</label>
                		<div class="col-sm-9">
                		<input type="text" class="form-control" name="tahun" placeholder="Tahun pengadaan" value="{{ tahun }}">
                		</div>	
                	</div>	
                	<div class="form-group">
                		<label class="control-label col-sm-3">Keterangan</label>
                		<div class="col-sm-9">
                		<textarea type="text" class="form-control col-sm-9" name="keterangan" placeholder="Keterangan tambahan">{{ keterangan }}</textarea>
                	</div>	
            </div>
            <div class="modal-footer">
            	<input type="hidden" name="noid_hw" value="{{ noid_hw }}">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="button input" class="btn btn-primary">Simpan</button>
                </form>
        </div>
    </div>
  </div>
</div>
	{% endblock %}
</body>
</html>
