.dragbox {
    float:left;
    position:absolute;
    background: #F1EFED;
    color:#000;
    border-radius:5px;
    padding:5px;
    display:none;
    z-index:1;
    cursor:all-scroll;
    border-bottom:1px solid #B3B2B0;
    border-right:1px solid #B3B2B0;
  }
.dragbox_button {
    float:right;
    color:#777675;
}

.flying {
    background:#000000 !important;
}

.dropbox_text {
    padding-top:-20px;
}



.dropbox {
	float:left;
    border-radius:7px;
	width:30%;
	height:300px;
	background: #FFF78A;
	margin:10px 10px 10px 10px;
    padding-left:10px;
    padding-right:10px;
}

#add_button {
    margin-top:-45px;
    float:right;
    background:#FFFFFF;
    border-radius:50px;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    cursor:pointer;
}

#add_button:hover {
    background:#34495E;
    color:#FFFFFF;
}

#testingtext {
    background:#16A085;
    color:#FFFFFF;
    padding-top:5px;
    padding-left:10px;
    padding-bottom:5px;
    padding-right:10px;
    display:none;
    border-radius:5px;
}


